div {
    margin-top: 30px;
    border: 1px solid rgb(71, 71, 255);
    border-radius: 10px;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    flex-direction: column;
}

.pd {
    width: 20%;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/